#settingsbar #themesMenu li > a > .image.default {
    background: #007bff;
}

#settingsbar #themesMenu li > a > .image.cerulean {
    background: #2fa4e7;
}

#settingsbar #themesMenu li > a > .image.cosmo {
    background: #2780e3;
}

#settingsbar #themesMenu li > a > .image.cyborg {
    background: #060606;
}

#settingsbar #themesMenu li > a > .image.darkly {
    background: #00bc8c;
}

#settingsbar #themesMenu li > a > .image.flatly {
    background: #dce4ec;
}

#settingsbar #themesMenu li > a > .image.journal {
    background: #eb6864;
}

#settingsbar #themesMenu li > a > .image.litera {
    background: #4582ec;
}

#settingsbar #themesMenu li > a > .image.lumen {
    background: #158cba;
}

#settingsbar #themesMenu li > a > .image.lux {
    background: #1a1a1a;
}

#settingsbar #themesMenu li > a > .image.materia {
    background: #2196f3;
}

#settingsbar #themesMenu li > a > .image.minty {
    background: #78c2ad;
}

#settingsbar #themesMenu li > a > .image.pulse {
    background: #593196;
}

#settingsbar #themesMenu li > a > .image.sandstone {
    background: #93c54b;
}

#settingsbar #themesMenu li > a > .image.simplex {
    background: #d9230f;
}

#settingsbar #themesMenu li > a > .image.sketchy {
    background-color: transparent;
    border: 2px solid #333;
    border-radius: 2px 8px 2px 4px/5px 3px 5px 3px;
}
#settingsbar #themesMenu li > a.active > .image.sketchy {
    border-color: #fff;
}

#settingsbar #themesMenu li > a > .image.slate {
    background: #484e55;
}

#settingsbar #themesMenu li > a > .image.solar {
    background: #b58900;
}

#settingsbar #themesMenu li > a > .image.spacelab {
    background: #446e9b;
}

#settingsbar #themesMenu li > a > .image.superhero {
    background: #df691a;
}

#settingsbar #themesMenu li > a > .image.united {
    background: #e95420;
}

#settingsbar #themesMenu li > a > .image.yeti {
    background: #008cba;
}

/* Default */
.theme-default #sidebar #navTreeView .nav-link.active {
    background: #007bff;
    color: #fff;
}

.theme-default #submenubar #subMenu .nav-link.active {
    border-left-color: #007bff;
}

.theme-default #navbar .nav-header .nav-item:first-child {
    color: #007bff;
}

@media (min-width: 576px) and (max-width: 991px) {
    .theme-default:not(.show-nav) #sidebar #navTreeView .nav-link.active,
    .theme-default:not(.show-nav) #sidebar #navTreeView .nav-item.active-parent > a {
        color: #007bff;
        background: transparent;
    }
}

@media (min-width: 992px) {
    .theme-default.collapse-nav #sidebar #navTreeView .nav-link.active,
    .theme-default.collapse-nav #sidebar #navTreeView .nav-item.active-parent > a {
        color: #007bff;
        background: transparent;
    }
}

.theme-default #sidebar #navTreeView li > a,
.theme-default #submenubar #subMenu li > a,
.theme-default #sidebar #searchResults ul > li > a {
    color: #333;
}

.theme-default #submenubar #subMenu li > a > span {
    opacity: .6;
}

.theme-default #navbar .navbar-toggler,
.theme-default #navbar .nav-header > .nav-item + .nav-item,
.theme-default #navbar .nav-header > .nav-item + .nav-item:hover,
.theme-default #sidebar #bottomNav a,
.theme-default #settingsbar #themesMenu li.active > a {
    background: #007bff;
}

.theme-default #navbar .nav-header > .nav-item + .nav-item + .nav-item,
.theme-default #navbar .nav-header > .nav-item + .nav-item + .nav-item:hover {
    background: #333333;
}

.theme-default #settingsbar #screenSizeCmb .dxbs-dropdown-area li:not(.active) > a:hover {
    color: #333;
}

.theme-default .alink {
    color: #333;
}

.theme-default .example > .code > .nav-code .nav-link.active {
    border-bottom: 1px solid #0069d9;
}

/* Cerulean */
.theme-cerulean #sidebar #navTreeView li > .nav-link.active {
    background: #2fa4e7;
    color: #fff;
}

.theme-cerulean #submenubar #subMenu li > .nav-link.active {
    border-left-color: #2fa4e7;
}

@media (min-width: 576px) and (max-width: 991px) {
    .theme-cerulean:not(.show-nav) #sidebar #navTreeView .nav-link.active,
    .theme-cerulean:not(.show-nav) #sidebar #navTreeView .nav-item.active-parent > a {
        color: #2fa4e7;
        background: transparent;
    }
}

@media (min-width: 992px) {
    .theme-cerulean.collapse-nav #sidebar #navTreeView .nav-link.active,
    .theme-cerulean.collapse-nav #sidebar #navTreeView .nav-item.active-parent > a {
        color: #2fa4e7;
        background: transparent;
    }
}

.theme-cerulean #sidebar #navTreeView li > a,
.theme-cerulean #submenubar #subMenu li > a,
.theme-cerulean #sidebar #searchResults ul > li > a {
    color: #333;
}

.theme-cerulean #navbar .nav-header .nav-item:first-child {
    color: #2fa4e7;
}

.theme-cerulean #navbar .navbar-toggler,
.theme-cerulean #navbar .nav-header > .nav-item + .nav-item,
.theme-cerulean #navbar .nav-header > .nav-item + .nav-item:hover,
.theme-cerulean #sidebar #bottomNav a,
.theme-cerulean #settingsbar #themesMenu li.active > a {
    background: #2fa4e7;
}

.theme-cerulean #navbar .nav-header > .nav-item + .nav-item + .nav-item,
.theme-cerulean #navbar .nav-header > .nav-item + .nav-item + .nav-item:hover {
    background: #555555;
}

.theme-cerulean .alink {
    color: #317eac;
}

.theme-cerulean .example > .code > .nav-code .nav-link.active {
    border-bottom: 1px solid #2fa4e7;
}

/* Cosmo */
.theme-cosmo #sidebar #navTreeView li > .nav-link.active {
    background: #2780e3;
    color: #fff;
}

.theme-cosmo #submenubar #subMenu li > .nav-link.active {
    border-left-color: #2780e3;
}

@media (min-width: 576px) and (max-width: 991px) {
    .theme-cosmo:not(.show-nav) #sidebar #navTreeView .nav-link.active,
    .theme-cosmo:not(.show-nav) #sidebar #navTreeView .nav-item.active-parent > a {
        color: #2780e3;
        background: transparent;
    }
}

@media (min-width: 992px) {
    .theme-cosmo.collapse-nav #sidebar #navTreeView .nav-link.active,
    .theme-cosmo.collapse-nav #sidebar #navTreeView .nav-item.active-parent > a {
        color: #2780e3;
        background: transparent;
    }
}

.theme-cosmo #sidebar #navTreeView li > a,
.theme-cosmo #submenubar #subMenu li > a,
.theme-cosmo #sidebar #searchResults ul > li > a {
    color: #333;
}

.theme-cosmo #navbar .nav-header .nav-item:first-child {
    color: #2780e3;
}

.theme-cosmo #navbar .navbar-toggler,
.theme-cosmo #navbar .nav-header > .nav-item + .nav-item,
.theme-cosmo #navbar .nav-header > .nav-item + .nav-item:hover,
.theme-cosmo #sidebar #bottomNav a,
.theme-cosmo #settingsbar #themesMenu li.active > a {
    background: #2780e3;
}

.theme-cosmo #navbar .nav-header > .nav-item + .nav-item + .nav-item,
.theme-cosmo #navbar .nav-header > .nav-item + .nav-item + .nav-item:hover {
    background: #222222;
}

.theme-cosmo #settingsbar #screenSizeCmb .dxbs-dropdown-area li > .dropdown-item:not(.active) {
    color: #212529;
}

.theme-cosmo #settingsbar #screenSizeCmb .dxbs-dropdown-area li > .dropdown-item:not(.active):hover {
    color: #16181b;
}

.theme-cosmo .alink {
    color: #333;
}

.theme-cosmo .example > .code > .nav-code .nav-link.active {
    border-bottom: 1px solid #2780e3;
}

/* cyborg */
.theme-cyborg #sidebar #navTreeView .nav-link.active {
    background: #2a9fd6;
    color: #fff;
}

.theme-cyborg #submenubar #subMenu .nav-link.active {
    border-left-color: #2a9fd6;
}

@media (min-width: 576px) and (max-width: 991px) {
    .theme-cyborg:not(.show-nav) #sidebar #navTreeView .nav-link.active > a,
    .theme-cyborg:not(.show-nav) #sidebar #navTreeView .nav-item.active-parent > a {
        color: #2a9fd6;
        background: transparent;
    }
}

@media (min-width: 992px) {
    .theme-cyborg.collapse-nav #sidebar #navTreeView .nav-link.active > a,
    .theme-cyborg.collapse-nav #sidebar #navTreeView .nav-item.active-parent > a {
        color: #2a9fd6;
        background: transparent;
    }
}

.theme-cyborg #navbar {
    background: #222222;
}

.theme-cyborg #sidebar #navTreeView .nav-link:not(.active):hover {
    color: #222222;
}

.theme-cyborg #sidebar {
    background: #060606;
}

.theme-cyborg #sidebar .sidebar-body {
    border-right-color: #282828;
}

.theme-cyborg #submenubar {
    background: #181818;
}

.theme-cyborg #submenubar #subMenu li > .nav-link.active {
    background: #060606;
    color: #ffffff;
}

.theme-cyborg #submenubar #subMenu li > .nav-link:not(.active):hover {
    color: #060606;
}

.theme-cyborg #navbar .nav-header a:first-child {
    color: #fff;
}

.theme-cyborg #navbar .navbar-toggler,
.theme-cyborg #navbar .nav-header > .nav-item + .nav-item,
.theme-cyborg #navbar .nav-header > .nav-item + .nav-item:hover,
.theme-cyborg #sidebar #bottomNav a,
.theme-cyborg #settingsbar #themesMenu li.active > a {
    background: #2a9fd6;
}

.theme-cyborg #navbar .nav-header > .nav-item + .nav-item + .nav-item,
.theme-cyborg #navbar .nav-header > .nav-item + .nav-item + .nav-item:hover {
    background: #fff;
    color: #222222;
}

.theme-cyborg .demo-chart {
    background: #222222;
    padding: 12px;
}

.theme-cyborg .demo-chart .dxc-chart {
    background: #222222;
}

.theme-cyborg .demo-chart text,
.theme-cyborg .demo-chart .dxc-title text,
.theme-cyborg .dxc-tooltip text {
    fill: #fff;
}

.theme-cyborg .dxc-tooltip path {
    fill: #424242;
    stroke: #424242;
}

.theme-cyborg .state-tooltip {
    width: 165px;
    color: #fff;
}

.theme-cyborg .chart-legend {
    fill: #424242;
}

.theme-cyborg .alink {
    color: #fff;
}

.theme-cyborg .example > .code > .nav-code .nav-link.active {
    border-bottom: 1px solid #2a9fd6;
}

/* darkly */
.theme-darkly #sidebar #navTreeView li > .nav-link.active {
    background: #00bc8c;
    color: #fff;
}

.theme-darkly #submenubar #subMenu li > .nav-link.active {
    border-left-color: #00bc8c;
}

.theme-darkly #sidebar .sidebar-body {
    border-right-color: #464545;
}

@media (min-width: 576px) and (max-width: 991px) {
    .theme-darkly:not(.show-nav) #sidebar #navTreeView .nav-link.active,
    .theme-darkly:not(.show-nav) #sidebar #navTreeView .nav-item.active-parent > a {
        color: #00bc8c;
        background: transparent;
    }
}

@media (min-width: 992px) {
    .theme-darkly.collapse-nav #sidebar #navTreeView .nav-link.active,
    .theme-darkly.collapse-nav #sidebar #navTreeView .nav-item.active-parent > a {
        color: #00bc8c;
        background: transparent;
    }
}

.theme-darkly #navbar {
    background: #404040;
}

.theme-darkly #sidebar {
    background: #222222;
}

.theme-darkly #sidebar #navTreeView li > .nav-link:not(.active):hover {
    color: #222222;
}

.theme-darkly #sidebar #searchEditor .form-control {
    color: #fff;    
}

.theme-darkly #submenubar {
    background: #373737;
}

.theme-darkly #submenubar #subMenu li > a,
.theme-darkly #sidebar #searchResults ul > li > a {
    color: #fff;
}

.theme-darkly #submenubar #subMenu li > a:not(.active):hover {
    color: #373737;
}

.theme-darkly #submenubar #subMenu li > a.active {
    background: #222222;
    color: #fff;
}

.theme-darkly #navbar .navbar-toggler,
.theme-darkly #navbar .nav-header > .nav-item + .nav-item,
.theme-darkly #navbar .nav-header > .nav-item + .nav-item:hover,
.theme-darkly #sidebar #bottomNav a,
.theme-darkly #settingsbar #themesMenu li.active > a {
    background: #00bc8c;
}

.theme-darkly #navbar .nav-header > .nav-item + .nav-item + .nav-item,
.theme-darkly #navbar .nav-header > .nav-item + .nav-item + .nav-item:hover {
    background: #ffffff;
    color: #404040;
}

.theme-darkly .demo-chart {
    background: #303030;
    padding: 12px;
}

.theme-darkly .demo-chart .dxc-chart {
    background: #303030;
}

.theme-darkly .demo-chart text,
.theme-darkly .demo-chart .dxc-title text,
.theme-darkly .dxc-tooltip text {
    fill: #fff;
}

.theme-darkly .dxc-tooltip path {
    fill: #464545;
    stroke: #464545;
}

.theme-darkly .state-tooltip {
    width: 165px;
    color: #fff;
}

.theme-darkly .chart-legend {
    fill: #464545;
}

.theme-darkly .alink {
    color: #fff;
}

.theme-darkly .example > .code > .nav-code .nav-link.active {
    border-bottom: 1px solid #00bc8c;
}

.theme-darkly #themesMenu .nav-link
{
    padding: 0.5rem 1rem;
}

/* flatly */
.theme-flatly #sidebar #navTreeView li > .nav-link.active {
    background: #00bc8c;
    color: #fff;
}

.theme-flatly #submenubar #subMenu li > .nav-link.active {
    border-left-color: #00bc8c;
}

@media (min-width: 576px) and (max-width: 991px) {
    .theme-flatly:not(.show-nav) #sidebar #navTreeView .nav-link.active,
    .theme-flatly:not(.show-nav) #sidebar #navTreeView .nav-item.active-parent > a {
        color: #00bc8c;
        background: transparent;
    }
}

@media (min-width: 992px) {
    .theme-flatly.collapse-nav #sidebar #navTreeView .nav-link.active,
    .theme-flatly.collapse-nav #sidebar #navTreeView .nav-item.active-parent > a {
        color: #00bc8c;
        background: transparent;
    }
}

.theme-flatly #sidebar #navTreeView li > a,
.theme-flatly #submenubar #subMenu li > a,
.theme-flatly #sidebar #searchResults ul > li > a {
    color: #2c3e50;
}

.theme-flatly #navbar .navbar-toggler,
.theme-flatly #navbar .nav-header > .nav-item + .nav-item,
.theme-flatly #navbar .nav-header > .nav-item + .nav-item:hover,
.theme-flatly #sidebar #bottomNav a,
.theme-flatly #settingsbar #themesMenu li.active > a {
    background: #00bc8c;
}

.theme-flatly #navbar .nav-header > .nav-item + .nav-item + .nav-item,
.theme-flatly #navbar .nav-header > .nav-item + .nav-item + .nav-item:hover {
    background: #0f7864;
}

.theme-flatly .alink {
    color: #2c3e50;
}

.theme-flatly .example > .code > .nav-code .nav-link.active {
    border-bottom: 1px solid #00bc8c;
}

.theme-flatly #themesMenu .nav-link
{
    padding: 0.5rem 1rem;
}

/* journal */
.theme-journal #sidebar #navTreeView li > .nav-link.active {
    background: #eb6864;
    color: #fff;
}

.theme-journal #submenubar #subMenu li > .nav-link.active {
    border-left-color: #eb6864;
}

@media (min-width: 576px) and (max-width: 991px) {
    .theme-journal:not(.show-nav) #sidebar #navTreeView .nav-link.active,
    .theme-journal:not(.show-nav) #sidebar #navTreeView .nav-item.active-parent > a {
        color: #eb6864;
        background: transparent;
    }
}

@media (min-width: 992px) {
    .theme-journal.collapse-nav #sidebar #navTreeView .nav-link.active,
    .theme-journal.collapse-nav #sidebar #navTreeView .nav-item.active-parent > a {
        color: #eb6864;
        background: transparent;
    }
}

.theme-journal #sidebar #navTreeView li > a,
.theme-journal #submenubar #subMenu li > a,
.theme-journal #sidebar #searchResults ul > li > a {
    color: #777777;
}

.theme-journal #navbar .nav-header .nav-item:first-child {
    color: #eb6864;
}

.theme-journal #navbar .navbar-toggler,
.theme-journal #navbar .nav-header > .nav-item + .nav-item,
.theme-journal #navbar .nav-header > .nav-item + .nav-item:hover,
.theme-journal #sidebar #bottomNav a,
.theme-journal #settingsbar #themesMenu li.active > a {
    background: #eb6864;
}

.theme-journal #navbar .nav-header > .nav-item + .nav-item + .nav-item,
.theme-journal #navbar .nav-header > .nav-item + .nav-item + .nav-item:hover {
    background: #333333;
}

.theme-journal #settingsbar #screenSizeCmb .dxbs-dropdown-area li > .dropdown-item:not(.active) {
    color: #222;
}

.theme-journal #settingsbar #screenSizeCmb .dxbs-dropdown-area li > .dropdown-item:not(.active):hover {
    color: #151515;
}

.theme-journal .alink {
    color: #000;
}

.theme-journal .example > .code > .nav-code .nav-link {
    font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
    font-weight: 700;
}

.theme-journal .example > .code > .nav-code .nav-link.active {
    border-bottom: 1px solid #eb6864;
}

/* litera */
.theme-litera #sidebar #navTreeView li > .nav-link.active {
    background: #4582ec;
    color: #fff;
}

.theme-litera #submenubar #subMenu li > .nav-link.active {
    border-left-color: #4582ec;
}

@media (min-width: 576px) and (max-width: 991px) {
    .theme-litera:not(.show-nav) #sidebar #navTreeView .nav-link.active,
    .theme-litera:not(.show-nav) #sidebar #navTreeView .nav-item.active-parent > a {
        color: #4582ec;
        background: transparent;
    }
}

@media (min-width: 992px) {
    .theme-litera.collapse-nav #sidebar #navTreeView .nav-link.active,
    .theme-litera.collapse-nav #sidebar #navTreeView .nav-item.active-parent > a {
        color: #4582ec;
        background: transparent;
    }
}

.theme-litera #sidebar #navTreeView li > a,
.theme-litera #submenubar #subMenu li > a,
.theme-litera #sidebar #searchResults ul > li > a {
    color: #343a40;
}

.theme-litera #navbar .nav-header .nav-item:first-child {
    color: #4582ec;
}

.theme-litera #navbar .navbar-toggler,
.theme-litera #navbar .nav-header > .nav-item + .nav-item,
.theme-litera #navbar .nav-header > .nav-item + .nav-item:hover,
.theme-litera #sidebar #bottomNav a,
.theme-litera #settingsbar #themesMenu li.active > a {
    background: #4582ec;
}

.theme-litera #navbar .nav-header > .nav-item + .nav-item + .nav-item,
.theme-litera #navbar .nav-header > .nav-item + .nav-item + .nav-item:hover {
    background: #333333;
}

.theme-litera #settingsbar #screenSizeCmb .dxbs-dropdown-area li > .dropdown-item:not(.active):hover {
    color: #16181b;
}

.theme-litera .alink {
    color: #343a40;
}

.theme-litera .example > .code > .nav-code .nav-link {
    font-family: inherit;
    font-weight: bold;
}

.theme-litera .example > .code > .nav-code .nav-link.active {
    border-bottom: 1px solid #4582ec;
}

/* lumen */
.theme-lumen #sidebar #navTreeView li > .nav-link.active {
    background: #158cba;
    color: #fff;
}

.theme-lumen #submenubar #subMenu li > .nav-link.active {
    border-left-color: #158cba;
}

@media (min-width: 576px) and (max-width: 991px) {
    .theme-lumen:not(.show-nav) #sidebar #navTreeView .nav-link.active,
    .theme-lumen:not(.show-nav) #sidebar #navTreeView .nav-item.active-parent > a {
        color: #158cba;
        background: transparent;
    }
}

@media (min-width: 992px) {
    .theme-lumen.collapse-nav #sidebar #navTreeView .nav-link.active,
    .theme-lumen.collapse-nav #sidebar #navTreeView .nav-item.active-parent > a {
        color: #158cba;
        background: transparent;
    }
}

.theme-lumen #sidebar #navTreeView li > a,
.theme-lumen #submenubar #subMenu li > a,
.theme-lumen #sidebar #searchResults ul > li > a {
    color: #333333;
}

.theme-lumen #navbar .nav-header .nav-item:first-child {
    color: #158cba;
}

.theme-lumen #navbar .navbar-toggler,
.theme-lumen #navbar .nav-header > .nav-item + .nav-item,
.theme-lumen #navbar .nav-header > .nav-item + .nav-item:hover,
.theme-lumen #sidebar #bottomNav a,
.theme-lumen #settingsbar #themesMenu li.active > a {
    background: #158cba;
}

.theme-lumen #navbar .nav-header > .nav-item + .nav-item + .nav-item,
.theme-lumen #navbar .nav-header > .nav-item + .nav-item + .nav-item:hover {
    background: #333333;
}

.theme-lumen #settingsbar #screenSizeCmb .dxbs-dropdown-area li > .dropdown-item:not(.active):hover {
    color: #151515;
}

.theme-lumen .alink {
    color: #333;
}

.theme-lumen .example > .code > .nav-code .nav-link {
    font-family: inherit;
    font-weight: bold;
}

.theme-lumen .example > .code > .nav-code .nav-link.active {
    border-bottom: 1px solid #158cba;
}

/* lux */
.theme-lux #sidebar #navTreeView li > .nav-link.active {
    background: #1a1a1a;
    color: #fff;
}

.theme-lux #submenubar #subMenu li > .nav-link.active {
    border-left-color: #1a1a1a;
}

@media (min-width: 576px) and (max-width: 991px) {
    .theme-lux:not(.show-nav) #sidebar #navTreeView .nav-link.active,
    .theme-lux:not(.show-nav) #sidebar #navTreeView .nav-item.active-parent > a {
        color: #fff;
        background: #1a1a1a;
    }
}

@media (min-width: 992px) {
    .theme-lux.collapse-nav #sidebar #navTreeView .nav-link.active,
    .theme-lux.collapse-nav #sidebar #navTreeView .nav-item.active-parent > a {
        color: #fff;
        background: #1a1a1a;
    }
}

.theme-lux #sidebar #navTreeView .nav-item > .nav-link:not(.active),
.theme-lux #submenubar #subMenu .nav-item > .nav-link:not(.active),
.theme-lux #sidebar #searchResults ul > li > a {
    color: #1a1a1a;
}

.theme-lux #navbar .nav-header .nav-item:first-child {
    color: #1a1a1a;
}

.theme-lux #navbar .navbar-toggler,
.theme-lux #navbar .nav-header > .nav-item + .nav-item,
.theme-lux #navbar .nav-header > .nav-item + .nav-item:hover,
.theme-lux #sidebar #bottomNav a,
.theme-lux #settingsbar #themesMenu li.active > a {
    background: #1a1a1a;
}

.theme-lux #submenubar #subMenu .nav-item,
.theme-lux #sidebar #navTreeView .nav-item,
.theme-lux #settingsbar #themesMenu .nav-item {
    margin-right: 0;
}

.theme-lux #navbar .nav-header > .nav-item + .nav-item + .nav-item,
.theme-lux #navbar .nav-header > .nav-item + .nav-item + .nav-item:hover {
    background: #333333;
}

.theme-lux #settingsbar #screenSizeCmb .form-control {
    background-color: transparent;
}

.theme-lux #settingsbar #screenSizeCmb .dxbs-dropdown-area li > .dropdown-item:not(.active):hover {
    color: #1a1a1a;
}

.theme-lux .alink {
    color: #212529;
}

.theme-lux .example > .code > .nav-code .nav-link.active {
    border-bottom: 1px solid #1a1a1a;
}

.theme-lux .input-group-append > .btn-secondary,
.theme-lux .input-group-prepend > .btn-secondary,
.theme-lux .input-group-append > .btn-secondary.focus,
.theme-lux .input-group-prepend > .btn-secondary.focus,
.theme-lux .input-group-append > .btn-secondary:focus,
.theme-lux .input-group-prepend > .btn-secondary:focus
{
    border: 1px solid #ced4da;
}
.theme-lux .input-group-append > .btn-secondary.focus,
.theme-lux .input-group-prepend > .btn-secondary.focus,
.theme-lux .input-group-append > .btn-secondary:focus,
.theme-lux .input-group-prepend > .btn-secondary:focus,
.theme-lux .input-group-append > .btn-secondary:active,
.theme-lux .input-group-prepend > .btn-secondary:active
{
    -webkit-box-shadow: 0 0 0 0.2rem #ced4da;
    box-shadow: 0 0 0 0.2rem #ced4da;
}


/* materia */
.theme-materia #sidebar #navTreeView li > .nav-link.active {
    background: #2196f3;
    color: #fff;
}

.theme-materia #submenubar #subMenu li > .nav-link.active {
    border-left-color: #2196f3;
}

@media (min-width: 576px) and (max-width: 991px) {
    .theme-materia:not(.show-nav) #sidebar #navTreeView .nav-link.active,
    .theme-materia:not(.show-nav) #sidebar #navTreeView .nav-item.active-parent > a {
        color: #2196f3;
        background: transparent;
    }
}

@media (min-width: 992px) {
    .theme-materia.collapse-nav #sidebar #navTreeView .nav-link.active,
    .theme-materia.collapse-nav #sidebar #navTreeView .nav-item.active-parent > a {
        color: #2196f3;
        background: transparent;
    }
}

.theme-materia #sidebar #navTreeView li > a,
.theme-materia #submenubar #subMenu li > a,
.theme-materia #sidebar #searchResults ul > li > a {
    color: #444;
}

.theme-materia #navbar .nav-header .nav-item:first-child {
    color: #2196f3;
}

.theme-materia #navbar .navbar-toggler,
.theme-materia #navbar .nav-header > .nav-item + .nav-item,
.theme-materia #navbar .nav-header > .nav-item + .nav-item:hover,
.theme-materia #sidebar #bottomNav a,
.theme-materia #settingsbar #themesMenu li.active > a {
    background: #2196f3;
}

.theme-materia #navbar .nav-header > .nav-item + .nav-item + .nav-item,
.theme-materia #navbar .nav-header > .nav-item + .nav-item + .nav-item:hover {
    background: #333333;
}

.theme-materia #settingsbar #screenSizeCmb .dxbs-dropdown-area li > .dropdown-item:not(.active):hover {
    color: #141414;
}

.theme-materia .alink {
    color: #444;
}

.theme-materia .example > .code > .nav-code .nav-link {
    font-family: inherit;
    font-weight: bold;
}

.theme-materia .example > .code > .nav-code .nav-link.active {
    border-bottom: 1px solid #2196f3;
}

.theme-materia .dxbs-tagbox .form-control
{
    padding-left: 0;
    border: none;
    -webkit-box-shadow: inset 0 -1px 0 #ddd;
    box-shadow: inset 0 -1px 0 #ddd;
    font-size: 16px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

/* Minty */
.theme-minty #sidebar #navTreeView li > .nav-link.active {
    background: #78c2ad;
    color: #fff;
}

.theme-minty #submenubar #subMenu li > .nav-link.active {
    border-left-color: #78c2ad;
}

@media (min-width: 576px) and (max-width: 991px) {
    .theme-minty:not(.show-nav) #sidebar #navTreeView .nav-link.active,
    .theme-minty:not(.show-nav) #sidebar #navTreeView .nav-item.active-parent > a {
        color: #78c2ad;
        background: transparent;
    }
}

@media (min-width: 992px) {
    .theme-minty.collapse-nav #sidebar #navTreeView .nav-link.active,
    .theme-minty.collapse-nav #sidebar #navTreeView .nav-item.active-parent > a {
        color: #78c2ad;
        background: transparent;
    }
}

.theme-minty #sidebar #navTreeView li > a,
.theme-minty #submenubar #subMenu li > a,
.theme-minty #sidebar #searchResults ul > li > a {
    color: #5a5a5a;
}

.theme-minty #navbar .nav-header .nav-item:first-child {
    color: #78c2ad;
}

.theme-minty #navbar .navbar-toggler,
.theme-minty #navbar .nav-header > .nav-item + .nav-item,
.theme-minty #navbar .nav-header > .nav-item + .nav-item:hover,
.theme-minty #sidebar #bottomNav a,
.theme-minty #settingsbar #themesMenu li.active > a {
    background: #78c2ad;
}

.theme-minty #navbar .nav-header > .nav-item + .nav-item + .nav-item,
.theme-minty #navbar .nav-header > .nav-item + .nav-item + .nav-item:hover {
    background: #555555;
}

.theme-minty .alink {
    color: #5a5a5a;
}

.theme-minty .example > .code > .nav-code .nav-link.active {
    border-bottom: 1px solid #78c2ad;
}

/* pulse */
.theme-pulse #sidebar #navTreeView li > .nav-link.active {
    background: #593196;
    color: #fff;
}

.theme-pulse #submenubar #subMenu li > .nav-link.active {
    border-left-color: #422470;
}

@media (min-width: 576px) and (max-width: 991px) {
    .theme-pulse:not(.show-nav) #sidebar #navTreeView .nav-link.active,
    .theme-pulse:not(.show-nav) #sidebar #navTreeView .nav-item.active-parent > a {
        color: #593196;
        background: transparent;
    }
}

@media (min-width: 992px) {
    .theme-pulse.collapse-nav #sidebar #navTreeView .nav-link.active,
    .theme-pulse.collapse-nav #sidebar #navTreeView .nav-item.active-parent > a {
        color: #593196;
        background: transparent;
    }
}

.theme-pulse #sidebar #navTreeView .nav-item > .nav-link:not(.active),
.theme-pulse #submenubar #subMenu .nav-item > .nav-link:not(.active),
.theme-pulse #sidebar #searchResults ul > li > a {
    color: #444444;
}

.theme-pulse #navbar .nav-header .nav-item:first-child {
    color: #593196;
}

.theme-pulse #navbar .navbar-toggler,
.theme-pulse #navbar .nav-header > .nav-item + .nav-item,
.theme-pulse #navbar .nav-header > .nav-item + .nav-item:hover,
.theme-pulse #sidebar #bottomNav a,
.theme-pulse #settingsbar #themesMenu li.active > a {
    background: #593196;
}

.theme-pulse #navbar .nav-header > .nav-item + .nav-item + .nav-item,
.theme-pulse #navbar .nav-header > .nav-item + .nav-item + .nav-item:hover {
    background: #333333;
}

.theme-pulse .alink {
    color: #444;
}

.theme-pulse .example > .code > .nav-code .nav-link.active {
    border-bottom: 1px solid #593196;
}

/* sandstone */
.theme-sandstone #sidebar #navTreeView li > .nav-link.active {
    background: #93c54b;
    color: #fff;
}

.theme-sandstone #submenubar #subMenu li > .nav-link.active {
    border-left-color: #93c54b;
}

@media (min-width: 576px) and (max-width: 991px) {
    .theme-sandstone:not(.show-nav) #sidebar #navTreeView .nav-link.active,
    .theme-sandstone:not(.show-nav) #sidebar #navTreeView .nav-item.active-parent > a {
        color: #93c54b;
        background: transparent;
    }
}

@media (min-width: 992px) {
    .theme-sandstone.collapse-nav #sidebar #navTreeView .nav-link.active,
    .theme-sandstone.collapse-nav #sidebar #navTreeView .nav-item.active-parent > a {
        color: #93c54b;
        background: transparent;
    }
}

.theme-sandstone #sidebar #navTreeView .nav-item > .nav-link:not(.active),
.theme-sandstone #submenubar #subMenu .nav-item > .nav-link:not(.active),
.theme-sandstone #sidebar #searchResults ul > li > a {
    color: #3e3f3a;
}

.theme-sandstone #navbar .nav-header .nav-item:first-child {
    color: #3e3f3a;
}

.theme-sandstone #navbar .navbar-toggler,
.theme-sandstone #sidebar #bottomNav a,
.theme-sandstone #settingsbar #themesMenu li.active > a {
    background: #3e3f3a;
}

.theme-sandstone #navbar .nav-header > .nav-item:first-child {
    color: #93c54b;
    border-bottom-color: rgba(255,255,255,.15);
}

.theme-sandstone #navbar .nav-header > .nav-item + .nav-item,
.theme-sandstone #navbar .nav-header > .nav-item + .nav-item:hover {
    background: #93c54b;
}

.theme-sandstone #navbar .nav-header > .nav-item + .nav-item + .nav-item,
.theme-sandstone #navbar .nav-header > .nav-item + .nav-item + .nav-item:hover {
    background: #333333;
}

.theme-sandstone #settingsbar #screenSizeCmb .dxbs-dropdown-area li > .dropdown-item {
    color: #98978b;
}

.theme-sandstone #settingsbar #screenSizeCmb .dxbs-dropdown-area li > .dropdown-item:not(.active):hover {
    color: #8e8c84;
}

.theme-sandstone .alink {
    color: #3e3f3a;
}

.theme-sandstone .example > .code > .nav-code .nav-link {
    font-family: inherit;
    font-weight: 500;
}

.theme-sandstone .example > .code > .nav-code .nav-link.active {
    border-bottom: 1px solid #3e3f3a;
}

/* simplex */
.theme-simplex #sidebar #navTreeView li > .nav-link.active {
    background: #d9230f;
    color: #fff;
}

.theme-simplex #submenubar #subMenu li > .nav-link.active {
    border-left-color: #d9230f;
}

@media (min-width: 576px) and (max-width: 991px) {
    .theme-simplex:not(.show-nav) #sidebar #navTreeView .nav-link.active,
    .theme-simplex:not(.show-nav) #sidebar #navTreeView .nav-item.active-parent > a {
        color: #d9230f;
        background: transparent;
    }
}

@media (min-width: 992px) {
    .theme-simplex.collapse-nav #sidebar #navTreeView .nav-link.active,
    .theme-simplex.collapse-nav #sidebar #navTreeView .nav-item.active-parent > a {
        color: #d9230f;
        background: transparent;
    }
}

.theme-simplex #sidebar #navTreeView .nav-item > .nav-link:not(.active),
.theme-simplex #submenubar #subMenu .nav-item > .nav-link:not(.active),
.theme-simplex #sidebar #searchResults ul > li > a {
    color: #444444;
}

.theme-simplex #navbar .nav-header .nav-item:first-child {
    color: #d9230f;
}

.theme-simplex #navbar .navbar-toggler,
.theme-simplex #navbar .nav-header > .nav-item + .nav-item,
.theme-simplex #navbar .nav-header > .nav-item + .nav-item:hover,
.theme-simplex #sidebar #bottomNav a,
.theme-simplex #settingsbar #themesMenu li.active > a {
    background: #d9230f;
}

.theme-simplex #navbar .nav-header > .nav-item + .nav-item + .nav-item,
.theme-simplex #navbar .nav-header > .nav-item + .nav-item + .nav-item:hover {
    background: #333333;
}

.theme-simplex .alink {
    color: #444;
}

.theme-simplex .example > .code > .nav-code .nav-link.active {
    border-bottom: 1px solid #d9230f;
}

/* sketchy */
.theme-sketchy #sidebar #navTreeView li > .nav-link.active {
    background: #333;
    color: #fff;
}

.theme-sketchy #submenubar #subMenu li > .nav-link.active {
    border-left-color: #333;
}

@media (min-width: 576px) and (max-width: 991px) {
    .theme-sketchy:not(.show-nav) #sidebar #navTreeView .nav-link.active,
    .theme-sketchy:not(.show-nav) #sidebar #navTreeView .nav-item.active-parent > a {
        background: #333;
        color: #fff;
    }
}

@media (min-width: 992px) {
    .theme-sketchy.collapse-nav #sidebar #navTreeView .nav-link.active,
    .theme-sketchy.collapse-nav #sidebar #navTreeView .nav-item.active-parent > a {
        background: #333;
        color: #fff;
    }
}

.theme-sketchy #sidebar #navTreeView li > a,
.theme-sketchy #submenubar #subMenu li > a,
.theme-sketchy #sidebar #searchResults ul > li > a {
    color: #212529;
}

.theme-sketchy #navbar .nav-header .nav-item:first-child {
    color: #333;
}

.theme-sketchy #navbar .navbar-toggler,
.theme-sketchy #navbar .nav-header > .nav-item + .nav-item,
.theme-sketchy #navbar .nav-header > .nav-item + .nav-item:hover,
.theme-sketchy #sidebar #bottomNav a,
.theme-sketchy #settingsbar #themesMenu li.active > a {
    background: #333;
}

.theme-sketchy #navbar .nav-header > .nav-item + .nav-item + .nav-item,
.theme-sketchy #navbar .nav-header > .nav-item + .nav-item + .nav-item:hover {
    background: #212529;
}

.theme-sketchy #settingsbar #screenSizeCmb .dxbs-dropdown-area li > .dropdown-item:not(.active):hover {
    color: #fff;
}

.theme-sketchy .alink {
    color: #212529;
}

.theme-sketchy .example > .code > .nav-code .nav-link {
    font-family: inherit;
    font-weight: bold;
}

.theme-sketchy .example > .code > .nav-code .nav-link.active {
    border-bottom: 1px solid #333;
}

.theme-sketchy .form-control.list-group
{
    background-color: #fff;
    border-radius: 555px 25px 15px 25px/25px 5px 35px 555px !important;
}

.theme-sketchy .form-check > label,
.theme-sketchy .dxbs-popup[id*="_DXHFP"].hf-list .modal-body > .form-check-inline > label,
.theme-sketchy .dxbs-popup[id*="_DXHFP"].modal-dialog .dxbs-listbox.dropdown-menu > li > .dropdown-item.form-check-inline > label {
    padding-left: 0;
}

.theme-sketchy .form-check,
.theme-sketchy .dxbs-popup[id*="_DXHFP"].hf-list .modal-body > .form-check-inline,
.theme-sketchy .dxbs-popup[id*="_DXHFP"].modal-dialog .dxbs-listbox.dropdown-menu > li > .dropdown-item.form-check-inline
{
    padding-left: 2.5rem;
}

.theme-sketchy .form-check .form-check-input
{
    position: relative!important;
}

.theme-sketchy .dxbs-listbox > li > .form-check > label > input[type="checkbox"],
.theme-sketchy .dxbs-listbox > li > .form-check > label > input[type="checkbox"]:before,
.theme-sketchy .dxbs-listbox > li > .form-check > label > input[type="checkbox"]:after,
.theme-sketchy .dxbs-popup[id*="_DXHFP"].hf-list .modal-body > .form-check > input[type="checkbox"],
.theme-sketchy .dxbs-popup[id*="_DXHFP"].hf-list .modal-body > .form-check > input[type="checkbox"]:before,
.theme-sketchy .dxbs-popup[id*="_DXHFP"].hf-list .modal-body > .form-check > input[type="checkbox"]:after {
    color: inherit;
}

.theme-sketchy .dxbs-listbox > li > .form-check > label > input[type="checkbox"]:before,
.theme-sketchy .dxbs-popup[id*="_DXHFP"].hf-list .modal-body > .form-check > input[type="checkbox"]:before
{
    border-color: currentColor;
}

.theme-sketchy .overview-chart.card,
.theme-sketchy .overview-form.card,
.theme-sketchy .overview-grid.card,
.theme-sketchy .dxbs-cardview .card,
.theme-sketchy .dxbs-gridview .card,
.theme-sketchy .dxbs-gridview .table-bordered,
.theme-sketchy .dxbs-calendar.card,
.theme-sketchy .dxbs-calendar .card
{
    overflow: visible;
}

.theme-sketchy .dxbs-gridview tr.bg-primary.text-white td
{
    background: none;
}

/* slate */
.theme-slate #sidebar #navTreeView .nav-link.active {
    background: #484e55;
    color: #fff;
}

.theme-slate #submenubar #subMenu .nav-link.active {
    border-left-color: #484e55;
}

.theme-slate #navbar .nav-header .nav-item:first-child {
    color: #fff;
}

@media (min-width: 576px) and (max-width: 991px) {
    .theme-slate:not(.show-nav) #sidebar #navTreeView .nav-link.active,
    .theme-slate:not(.show-nav) #sidebar #navTreeView .nav-item.active-parent > a {
        color: #484e55;
        background: transparent;
    }
}

@media (min-width: 992px) {
    .theme-slate.collapse-nav #sidebar #navTreeView .nav-link.active,
    .theme-slate.collapse-nav #sidebar #navTreeView .nav-item.active-parent > a {
        color: #484e55;
        background: transparent;
    }
}

.theme-slate #navbar {
    background: #32363b;
}

.theme-slate #sidebar {
    background: #272b30;
}

.theme-slate #sidebar .sidebar-body {
    border-right-color: #1c1e22;
}

.theme-slate #sidebar #searchEditor .form-control {
    color: #fff;
}

.theme-slate #sidebar #searchResults ul > li > a {
    color: #fff;
}

.theme-slate #sidebar #navTreeView .nav-item > .nav-link:not(.active):hover {
    color: #272b30;
}

.theme-slate:not(.show-nav).collapse-nav #sidebar #navTreeView .nav-item.active-parent > a:hover {
    color: #484e55;
}

@media (max-width: 991px) {
    .theme-slate:not(.show-nav) #sidebar #navTreeView .nav-item.active-parent > a:hover {
        color: #484e55;
    }
}

.theme-slate #submenubar {
    background: #2e3338;
}

.theme-slate #submenubar #subMenu .nav-item > .nav-link {
    color: #fff;
}

.theme-slate #submenubar #subMenu .nav-item > .nav-link.active {
    background: #272b30;
    color: #fff;
}

.theme-slate #submenubar #subMenu .nav-item > .nav-link:not(.active):hover {
    color: #2e3338;
}

.theme-slate #navbar .navbar-toggler,
.theme-slate #navbar .nav-header > .nav-item + .nav-item,
.theme-slate #navbar .nav-header > .nav-item + .nav-item:hover,
.theme-slate #sidebar #bottomNav .nav-link,
.theme-slate #settingsbar #themesMenu .nav-item > .nav-link.active {
    background: #484e55;
}

.theme-slate #navbar .nav-header > .nav-item + .nav-item + .nav-item,
.theme-slate #navbar .nav-header > .nav-item + .nav-item + .nav-item:hover {
    background: #fff;
    color: #484e55;
}

.theme-slate .demo-chart {
    background: #2e3338;
    padding: 12px;
}

.theme-slate .demo-chart .dxc-chart {
    background: #2e3338;
}

.theme-slate .demo-chart text,
.theme-slate .demo-chart .dxc-title text,
.theme-slate .dxc-tooltip text {
    fill: #c8c8c8;
}

.theme-slate .dxc-labels text {
    fill: #fff;
}

.theme-slate .dxc-tooltip path {
    fill: #3a3f44;
    stroke: #3a3f44;
}

.theme-slate .state-tooltip {
    color: #c8c8c8;
}

.theme-slate .chart-legend {
    fill: #3a3f44;
}

.theme-slate .dxbs-spin-edit:not(.has-error) .dxbs-spin-btn-group {
    color: #272b30;
}

.theme-slate .alink {
    color: #c8c8c8;
}

.theme-slate .example > .code > .nav-code .nav-link {
    color: #aaa;
}

.theme-slate .example > .code > .nav-code .nav-link.active {
    border-bottom: 1px solid #484e55;
}

/* spacelab */
.theme-spacelab #sidebar #navTreeView .nav-link.active {
    background: #446e9b;
    color: #fff;
}

.theme-spacelab #submenubar #subMenu .nav-link.active {
    border-left-color: #446e9b;
}

.theme-spacelab #navbar .nav-header .nav-item:first-child {
    color: #446e9b;
}

@media (min-width: 576px) and (max-width: 991px) {
    .theme-spacelab:not(.show-nav) #sidebar #navTreeView .nav-link.active,
    .theme-spacelab:not(.show-nav) #sidebar #navTreeView .nav-item.active-parent > a {
        color: #446e9b;
        background: transparent;
    }
}

@media (min-width: 992px) {
    .theme-spacelab.collapse-nav #sidebar #navTreeView .nav-link.active,
    .theme-spacelab.collapse-nav #sidebar #navTreeView .nav-item.active-parent > a {
        color: #446e9b;
        background: transparent;
    }
}

.theme-spacelab #sidebar #navTreeView .nav-item > .nav-link:not(.active),
.theme-spacelab #submenubar #subMenu .nav-item > .nav-link:not(.active),
.theme-spacelab #sidebar #searchResults ul > li > a:not(.active) {
    color: #2d2d2d;
}

.theme-spacelab #navbar .navbar-toggler,
.theme-spacelab #navbar .nav-header > .nav-item + .nav-item,
.theme-spacelab #navbar .nav-header > .nav-item + .nav-item:hover,
.theme-spacelab #sidebar #bottomNav .nav-link,
.theme-spacelab #settingsbar #themesMenu .nav-item > .nav-link.active {
    background: #446e9b;
}

.theme-spacelab #navbar .nav-header > .nav-item + .nav-item + .nav-item,
.theme-spacelab #navbar .nav-header > .nav-item + .nav-item + .nav-item:hover {
    background: #333333;
}

.theme-spacelab #settingsbar #screenSizeCmb .dxbs-dropdown-area li > .dropdown-item:not(.active) {
    color: #2d2d2d;
}

.theme-spacelab #settingsbar #screenSizeCmb .dxbs-dropdown-area li > .dropdown-item:not(.active):hover {
    color: #202020;
}

.theme-spacelab .alink {
    color: #2d2d2d;
}

.theme-spacelab .example > .code > .nav-code .nav-link.active {
    border-bottom: 1px solid #446e9b;
}

/* solar */
.theme-solar #sidebar #navTreeView .nav-link:not(.active):not(:hover) {
    color: #839496;
}

.theme-solar #sidebar #navTreeView .nav-link.active {
    background: #b58900;
    color: #fff;
}

.theme-solar #submenubar #subMenu .nav-link.active {
    border-left-color: #b58900;
}

.theme-solar #navbar .nav-header .nav-item:first-child {
    color: #073642;
}

@media (min-width: 576px) and (max-width: 991px) {
    .theme-solar:not(.show-nav) #sidebar #navTreeView .nav-link.active,
    .theme-solar:not(.show-nav) #sidebar #navTreeView .nav-item.active-parent > a {
        color: #b58900;
        background: transparent;
    }
}

@media (min-width: 992px) {
    .theme-solar.collapse-nav #sidebar #navTreeView .nav-link.active,
    .theme-solar.collapse-nav #sidebar #navTreeView .nav-item.active-parent > a {
        color: #073642;
        background: transparent;
    }
}

.theme-solar #navbar {
    background: #073642;
}

.theme-solar #sidebar {
    background: #002b36;
}

.theme-solar #sidebar .sidebar-body {
    border-right-color: rgba(0, 0, 0, 0.15);
}

.theme-solar #sidebar #searchEditor .form-control {
    color: #fff;    
}

.theme-solar #sidebar #searchResults ul > li > a {
    color: #fff;
}

.theme-solar #sidebar #navTreeView .nav-item > .nav-link:not(.active):hover {
    color: #002b36;
}

.theme-solar:not(.show-nav).collapse-nav #sidebar #navTreeView .nav-item.active-parent > a:hover {
    color: #073642;
}

@media (max-width: 991px) {
    .theme-solar:not(.show-nav) #sidebar #navTreeView .nav-item.active-parent > a:hover {
        color: #b58900;
    }
}

.theme-solar #submenubar {
    background: rgba(255, 255, 255, 0.075);
}

.theme-solar #submenubar #subMenu .nav-item > .nav-link {
    color: #839496;
}

.theme-solar #submenubar #subMenu .nav-item > .nav-link.active {
    background: #002b36;
    color: #fff;
}

.theme-solar #submenubar #subMenu .nav-item > .nav-link:not(.active):hover {
    color: #33495d;
}

.theme-solar #navbar .navbar-toggler,
.theme-solar #navbar .nav-header > .nav-item + .nav-item,
.theme-solar #navbar .nav-header > .nav-item + .nav-item:hover,
.theme-solar #sidebar #bottomNav .nav-link,
.theme-solar #settingsbar #themesMenu .nav-item > .nav-link.active {
    background: #b58900;
}

.theme-solar #navbar .nav-header > .nav-item + .nav-item + .nav-item,
.theme-solar #navbar .nav-header > .nav-item + .nav-item + .nav-item:hover {
    background: #fff;
    color: #002b36;
}

.theme-solar #settingsbar #screenSizeCmb .form-control
{
    background-color: transparent;
}

.theme-solar #settingsbar #screenSizeCmb .dxbs-dropdown-area li > .dropdown-item:not(.active):hover {
    color: #fff;
}

.theme-solar .demo-chart {
    background: #073642;
    padding: 12px;
}

.theme-solar .demo-chart .dxc-chart {
    background: #073642;
}

.theme-solar .demo-chart text,
.theme-solar .demo-chart .dxc-title text,
.theme-solar .dxc-tooltip text {
    fill: #ebebeb;
}

.theme-solar .dxc-tooltip path {
    fill: #839496;
    stroke: #839496;
}

.theme-solar .state-tooltip {
    width: 165px;
    color: #ebebeb;
}

.theme-solar .chart-legend {
    fill: #839496;
}

.theme-solar .dxbs-spin-edit:not(.has-error) .dxbs-spin-btn-group {
    color: #073642;
}

.theme-solar .alink {
    color: #839496;
}

.theme-solar .example > .code > .nav-code .nav-link.active {
    border-bottom: 1px solid #073642;
}

/* superhero */
.theme-superhero #sidebar #navTreeView .nav-link.active {
    background: #df691a;
    color: #fff;
}

.theme-superhero #submenubar #subMenu .nav-link.active {
    border-left-color: #df691a;
}

.theme-superhero #navbar .nav-header .nav-item:first-child {
    color: #df691a;
}

@media (min-width: 576px) and (max-width: 991px) {
    .theme-superhero:not(.show-nav) #sidebar #navTreeView .nav-link.active,
    .theme-superhero:not(.show-nav) #sidebar #navTreeView .nav-item.active-parent > a {
        color: #df691a;
        background: transparent;
    }
}

@media (min-width: 992px) {
    .theme-superhero.collapse-nav #sidebar #navTreeView .nav-link.active,
    .theme-superhero.collapse-nav #sidebar #navTreeView .nav-item.active-parent > a {
        color: #df691a;
        background: transparent;
    }
}

.theme-superhero #navbar {
    background: #374c61;
}

.theme-superhero #sidebar {
    background: #2b3e50;
}

.theme-superhero #sidebar .sidebar-body {
    border-right-color: #242c34;
}

.theme-superhero #sidebar #searchEditor .form-control {
    color: #fff;    
}

.theme-superhero #sidebar #searchResults ul > li > a {
    color: #fff;
}

.theme-superhero #sidebar #navTreeView .nav-item > .nav-link:not(.active):hover {
    color: #2b3e50;
}

.theme-superhero:not(.show-nav).collapse-nav #sidebar #navTreeView .nav-item.active-parent > a:hover {
    color: #df691a;
}

@media (max-width: 991px) {
    .theme-superhero:not(.show-nav) #sidebar #navTreeView .nav-item.active-parent > a:hover {
        color: #df691a;
    }
}

.theme-superhero #submenubar {
    background: #33495d;
}

.theme-superhero #submenubar #subMenu .nav-item > .nav-link.active {
    background: #2b3e50;
    color: #fff;
}

.theme-superhero #submenubar #subMenu .nav-item > .nav-link:not(.active):hover {
    color: #33495d;
}

.theme-superhero #navbar .navbar-toggler,
.theme-superhero #navbar .nav-header > .nav-item + .nav-item,
.theme-superhero #navbar .nav-header > .nav-item + .nav-item:hover,
.theme-superhero #sidebar #bottomNav .nav-link,
.theme-superhero #settingsbar #themesMenu .nav-item > .nav-link.active {
    background: #df691a;
}

.theme-superhero #navbar .nav-header > .nav-item + .nav-item + .nav-item,
.theme-superhero #navbar .nav-header > .nav-item + .nav-item + .nav-item:hover {
    background: #fff;
    color: #374c61;
}

.theme-superhero #settingsbar #screenSizeCmb .dxbs-dropdown-area li > .dropdown-item:not(.active):hover {
    background: #374c61;
    color: #fff;
}

.theme-superhero .demo-chart {
    background: #4e5d6c;
    padding: 12px;
}

.theme-superhero .demo-chart .dxc-chart {
    background: #4e5d6c;
}

.theme-superhero .demo-chart text,
.theme-superhero .demo-chart .dxc-title text,
.theme-superhero .dxc-tooltip text {
    fill: #ebebeb;
}

.theme-superhero .dxc-tooltip path {
    fill: #485563;
    stroke: #485563;
}

.theme-superhero .state-tooltip {
    width: 165px;
    color: #ebebeb;
}

.theme-superhero .chart-legend {
    fill: #485563;
}

.theme-superhero .dxbs-spin-edit:not(.has-error) .dxbs-spin-btn-group {
    color: #2b3e50;
}

.theme-superhero .alink {
    color: #ebebeb;
}

.theme-superhero .example > .code > .nav-code .nav-link.active {
    border-bottom: 1px solid #df691a;
}


/* united */
.theme-united #sidebar #navTreeView .nav-link.active {
    background: #e95420;
    color: #fff;
}

.theme-united #submenubar #subMenu .nav-link.active {
    border-left-color: #e95420;
}

.theme-united #navbar .nav-header .nav-item:first-child {
    color: #e95420;
}

@media (min-width: 576px) and (max-width: 991px) {
    .theme-united:not(.show-nav) #sidebar #navTreeView .nav-link.active,
    .theme-united:not(.show-nav) #sidebar #navTreeView .nav-item.active-parent > a {
        color: #e95420;
        background: transparent;
    }
}

@media (min-width: 992px) {
    .theme-united.collapse-nav #sidebar #navTreeView .nav-link.active,
    .theme-united.collapse-nav #sidebar #navTreeView .nav-item.active-parent > a {
        color: #e95420;
        background: transparent;
    }
}

.theme-united #sidebar #navTreeView .nav-item > .nav-link:not(.active),
.theme-united #submenubar #subMenu .nav-item > .nav-link:not(.active),
.theme-united #sidebar #searchResults ul > li > a:not(.active) {
    color: #333;
}

.theme-united #navbar .navbar-toggler,
.theme-united #navbar .nav-header > .nav-item + .nav-item,
.theme-united #navbar .nav-header > .nav-item + .nav-item:hover,
.theme-united #sidebar #bottomNav .nav-link,
.theme-united #settingsbar #themesMenu .nav-item > .nav-link.active {
    background: #e95420;
}

.theme-united #navbar .nav-header > .nav-item + .nav-item + .nav-item,
.theme-united #navbar .nav-header > .nav-item + .nav-item + .nav-item:hover {
    background: #333333;
}

.theme-united #settingsbar #screenSizeCmb .dxbs-dropdown-area li > .dropdown-item:not(.active) {
    color: #212529;
}

.theme-united #settingsbar #screenSizeCmb .dxbs-dropdown-area li > .dropdown-item:not(.active):hover {
    color: #16181b;
}

.theme-united .alink {
    color: #333;
}

.theme-united .example > .code > .nav-code .nav-link.active {
    border-bottom: 1px solid #e95420;
}

/* yeti */
.theme-yeti #sidebar #navTreeView .nav-link.active {
    background: #008cba;
    color: #fff;
}

.theme-yeti #submenubar #subMenu .nav-link.active {
    border-left-color: #008cba;
}

.theme-yeti #navbar .nav-header .nav-item:first-child {
    color: #008cba;
}

@media (min-width: 576px) and (max-width: 991px) {
    .theme-yeti:not(.show-nav) #sidebar #navTreeView .nav-link.active,
    .theme-yeti:not(.show-nav) #sidebar #navTreeView .nav-item.active-parent > a {
        color: #008cba;
        background: transparent;
    }
}

@media (min-width: 992px) {
    .theme-yeti.collapse-nav #sidebar #navTreeView .nav-link.active,
    .theme-yeti.collapse-nav #sidebar #navTreeView .nav-item.active-parent > a {
        color: #008cba;
        background: transparent;
    }
}

.theme-yeti #sidebar #navTreeView .nav-item > .nav-link:not(.active),
.theme-yeti #submenubar #subMenu .nav-item > .nav-link:not(.active),
.theme-yeti #sidebar #searchResults ul > li > a:not(.active) {
    color: #222;
}

.theme-yeti #navbar .navbar-toggler,
.theme-yeti #navbar .nav-header > .nav-item + .nav-item,
.theme-yeti #navbar .nav-header > .nav-item + .nav-item:hover,
.theme-yeti #sidebar #bottomNav .nav-link,
.theme-yeti #settingsbar #themesMenu .nav-item > .nav-link.active {
    background: #008cba;
}

.theme-yeti #navbar .nav-header > .nav-item + .nav-item + .nav-item,
.theme-yeti #navbar .nav-header > .nav-item + .nav-item + .nav-item:hover {
    background: #333333;
}

.theme-yeti #settingsbar #screenSizeCmb .dxbs-dropdown-area li > .dropdown-item:not(.active) {
    color: #222;
}

.theme-yeti #settingsbar #screenSizeCmb .dxbs-dropdown-area li > .dropdown-item:not(.active):hover {
    color: #151515;
}

.theme-yeti .alink {
    color: #222;
}

.theme-yeti .example > .code > .nav-code .nav-link.active {
    border-bottom: 1px solid #008cba;
}

/* all dark themes */
.theme-cyborg #sidebar #searchEditor .form-control,
.theme-darkly #sidebar #searchEditor .form-control,
.theme-slate #sidebar #searchEditor .form-control,
.theme-superhero #sidebar #searchEditor .form-control,
.theme-solar #sidebar #searchEditor .form-control {
    border-bottom-color: #666;
}

.theme-cyborg #sidebar .search .dxbs-edit-btn:not(.dxbs-clear-btn),
.theme-darkly #sidebar .search .dxbs-edit-btn:not(.dxbs-clear-btn),
.theme-slate #sidebar .search .dxbs-edit-btn:not(.dxbs-clear-btn),
.theme-superhero #sidebar .search .dxbs-edit-btn:not(.dxbs-clear-btn),
.theme-solar #sidebar .search .dxbs-edit-btn:not(.dxbs-clear-btn) {
    border-bottom-color: #666;
}

.theme-cyborg #navbar .logo h4 a,
.theme-darkly #navbar .logo h4 a,
.theme-slate #navbar .logo h4 a,
.theme-superhero #navbar .logo h4 a,
.theme-solar #navbar .logo h4 a {
    color: #fff;
    opacity: .78;
}

.theme-cyborg #navbar .logo h3 a,
.theme-darkly #navbar .logo h3 a,
.theme-slate #navbar .logo h3 a,
.theme-superhero #navbar .logo h3 a,
.theme-solar #navbar .logo h3 a {
    color: #fff;
}
